<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <form action="/about" method="get">
        <div class="container mt-3">
            <h1>ABOUT US</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eaque recusandae officia officiis quas
            aspernatur in earum maiores corporis aperiam placeat cum sint, illo nostrum amet possimus aut deserunt
            molestias
            ea excepturi. Possimus dicta quibusdam ipsa dignissimos a ex ab. Debitis sint doloremque, consequatur
            eligendi
            ipsa in reprehenderit. Neque natus eos soluta? Magnam nihil, soluta, fugiat maiores iste dignissimos iusto
            numquam nostrum vitae quia, ad dolor. Laboriosam temporibus vel, error repellendus amet animi molestias
            omnis
            repellat. Dolorem temporibus, facilis dicta molestiae ab vel repudiandae? Repudiandae ad harum, obcaecati
            repellat optio recusandae neque eaque quas odio, veniam expedita iste cupiditate doloribus dicta accusantium
            tempore nesciunt distinctio vitae itaque voluptate, omnis facilis corrupti labore. Accusantium cupiditate
            qui
            doloribus ratione nihil odit, corrupti nam suscipit esse dolore, voluptas officia dolorum hic repudiandae
            atque
            voluptatibus consequatur, sint eius quam. Veniam soluta ex quae omnis saepe. Laudantium distinctio mollitia
            quos, doloribus nobis repudiandae vel? Placeat, deserunt, totam accusantium ea voluptatem ullam corrupti
            facilis
            nemo exercitationem rerum libero architecto autem alias ab quia unde dolore fuga, explicabo animi?
            Reprehenderit
            nemo ea, et consectetur, placeat rerum quam porro maxime nulla, expedita corrupti nam debitis laborum natus
            eius
            similique reiciendis libero molestiae officia perferendis eaque! Quos quasi eaque iusto reiciendis? Iure
            aliquam
            cum voluptas non possimus quas, ipsam enim adipisci ducimus officiis delectus quidem illo. Nesciunt a
            magnam,
            perspiciatis ipsum doloremque suscipit sint quos! Incidunt sed optio perspiciatis, repellendus qui commodi
            temporibus officiis, vel ex ab voluptas repellat? Animi nam assumenda labore fugit suscipit id nisi, ipsa
            molestiae blanditiis dolorem eligendi quis aut nobis provident quibusdam sapiente beatae, sed, possimus
            distinctio? Autem cumque temporibus voluptates suscipit laborum tenetur tempore quibusdam! Quos possimus
            eligendi, consectetur delectus commodi libero sed iure error eveniet. Quasi ab sint, non accusamus ut
            exercitationem suscipit et iste nulla blanditiis vitae error? Suscipit esse neque dolorum, itaque odio unde
            accusamus molestias natus amet quasi debitis quaerat hic veritatis, ipsam laudantium, maxime delectus modi
            laboriosam illum. Consectetur accusamus, hic, sequi quidem et at ducimus, perspiciatis libero nam neque ad.
            Qui
            ducimus saepe, mollitia consequatur possimus, sed perferendis aperiam autem excepturi at sint esse. Dolorum
            laboriosam eligendi nulla numquam, ducimus consequatur eum quae enim praesentium accusamus voluptatibus
            reprehenderit? Mollitia atque beatae voluptatibus tempore facere praesentium eius perferendis obcaecati!
            Asperiores sapiente corrupti earum, dolorem ipsa sed velit libero minima, labore cum assumenda corporis
            doloribus praesentium cupiditate facere fugiat, architecto ipsam! Nobis, commodi molestiae! Ipsam doloribus
            nihil reprehenderit iure incidunt maiores nam atque voluptatum laudantium repellendus possimus voluptate
            provident facilis, sequi itaque qui nisi vero ad officiis dolores quibusdam sapiente! Dignissimos placeat
            veniam
            at non nobis mollitia ratione deleniti hic illum, voluptatibus laudantium excepturi, porro obcaecati tempora
            molestias ad nulla eos culpa aperiam distinctio minus reiciendis repellat ea blanditiis. Animi, fugiat?
            Dolorum
            praesentium doloremque illum voluptatum neque nesciunt quibusdam harum, obcaecati architecto iusto ea ipsam
            aut
            sapiente molestias unde iste, laudantium consectetur odit culpa nam omnis! Impedit quidem modi quod possimus
            vero deleniti laboriosam reprehenderit ut ab nobis ea, soluta numquam ducimus ullam repellendus eveniet
            voluptates quam at necessitatibus asperiores, officiis odit placeat unde molestiae. Repellendus cumque autem
            error ullam explicabo, omnis molestiae assumenda nam similique magnam, molestias id itaque, esse ut odit
            accusamus qui inventore aut officiis et eaque. Hic, rem facilis dolorem inventore dolorum praesentium iusto
            obcaecati ducimus possimus vel voluptate consequatur id laboriosam quidem ab saepe ipsa, repudiandae quo?
            Ullam
            earum expedita id obcaecati, ab laborum maiores, porro sunt cum, facere voluptatem nobis architecto suscipit
            autem commodi veritatis? A rem amet qui minima quod ipsum, esse architecto consequatur soluta voluptates
            totam
            voluptatibus, recusandae fugiat. Sit ipsa quas laborum tempora doloribus. Fuga culpa pariatur repellat,
            debitis
            minus quas blanditiis ad possimus doloremque consequatur enim. Quis impedit autem numquam voluptate expedita
            provident fugiat, deserunt quaerat commodi a neque quo? Repellendus beatae quae aspernatur, nam commodi
            fugiat
            nobis minus nesciunt! Quo praesentium dolor dolorem tenetur necessitatibus quia at saepe tempora fugiat
            inventore, aut suscipit hic repellat doloribus nostrum, animi non. Illo quibusdam fugit mollitia debitis
            rerum
            cupiditate possimus? Magni esse itaque consequatur quas placeat incidunt nostrum porro mollitia dolores.
            Laboriosam, repellat! Quia quos fugiat ex, reiciendis non accusamus consequuntur deserunt libero ipsum
            pariatur
            consectetur fugit? Facere accusantium quas laboriosam necessitatibus. Temporibus soluta voluptate
            accusantium
            assumenda commodi illo dignissimos deserunt, quaerat architecto velit et quae, eum, vero maxime accusamus!
            Animi
            exercitationem libero expedita repellat ratione omnis laudantium, atque aliquid magnam quibusdam. Similique
            non
            quasi veritatis iure, dolore vitae dolores, facilis deserunt error assumenda, unde blanditiis! Vero expedita
            reprehenderit itaque architecto veniam quibusdam dolorem eius. Aliquid pariatur nam quam inventore itaque
            voluptatem? Porro nihil facilis id esse eum laudantium assumenda, quaerat, quo qui aliquid quam modi ipsam
            quasi
            saepe accusamus distinctio sequi cupiditate repellendus veritatis! Odio, culpa qui, quod nihil veritatis
            incidunt quia beatae eum esse quaerat aspernatur rem accusamus voluptates ullam fugiat illo laudantium cum
            voluptas, vero assumenda! Nisi perspiciatis atque corrupti id voluptate tenetur unde, vitae similique
            pariatur
            harum expedita cupiditate distinctio dolores animi quibusdam dolor numquam blanditiis ut nostrum accusamus
            alias
            sit molestias maxime ea. Sed esse beatae, nihil quis optio cupiditate, animi quidem sequi adipisci assumenda
            deleniti et ab libero labore eveniet ex officiis? Nemo ea aspernatur repellendus voluptatem vitae! Vitae
            velit
            vero omnis hic nobis eveniet tempore magni exercitationem saepe a vel dolores in culpa, similique delectus
            cumque libero necessitatibus harum voluptates incidunt non fugit quis. Deleniti sapiente beatae, pariatur
            ipsa
            laboriosam quis hic distinctio esse expedita harum accusamus iusto, aliquam explicabo mollitia, aliquid
            blanditiis exercitationem.
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>