<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome to Text Analyzer.</h1>
    Enter Your text below:
    <form action='/analyze' method='get'>
        <textarea name='input' cols="30" rows="10"></textarea>
        <div>
            <input type="checkbox" name="removepunc"> REMOVE PUNCTUATUIONS <br>
            <input type="checkbox" name="capitalize"> CAPITALIZE <br>
            <input type="checkbox" name="trim"> TRIM STRING <br>
            <input type="checkbox" name="stylize"> STYLIZE STRING <br>
        </div>
        <button type="submit">Analyze Text</button>
    </form>
</body>

</html>